<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <!--;MV_STORE=false;DB_CLOSE_DELAY=-1-->
        <property name="hibernate.connection.url">
            jdbc:h2:file:/usr/local/h2/test_persons
        </property>
        <property name="hibernate.connection.username">*****</property>
        <property name="hibernate.connection.password">*****</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="hibernate.connection.pool_size">1000</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <mapping resource="Person.hbm.xml"/>
        <mapping resource="Document.hbm.xml"/>
        <mapping resource="Vehicle.hbm.xml"/>
    </session-factory>
</hibernate-configuration>

